@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --color-body: #f1f2ee;
  --color-text: #333;
  --color-white: #fff;
  --color-gray: #374650;
  --color-gray-200: #37462020;
  --color-mindaro: #dcf763;
}
* {
  font-family: "DM Mono", monospace;
}
body {
  background: var(--color-body);
}
