@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme{
     --color-grey:#333;
     --color-lightGray:#efefef;
     --color-midGray:#ccc;
     --color-white:#fff;
     --color-red:#FC2947;
     --color-purple:#A555EC;
     --color-pink:#E53888;
     --color-midGray:#ededed;
}
*{
     font-family: "DM Mono", monospace;
}

